<div class="form-input">
    <div class="form-input__label">{{title}}</div>
    <input class="form-input__input" type="{{type}}" placeholder="{{placeholder-text}}" name="{{input-name}}" id="" value="{{value}}">
</div>